USE_SYNTHETIC_DATA=false
STORAGE_BACKEND=oci_zarr
APP_NAME=Vizarr OCI API
APP_PORT=8000
REDIS_URL=redis://redis:6379/0
TILE_CACHE_TTL=3600
COLORMAP_DEFAULT=viridis
OCI_CONFIG_PROFILE=prof
OCI_CONFIG_FILE=/home/app/.oci/config
OCI_NAMESPACE=lrdwfp6kyp5x
OCI_BUCKET=STAY
OCI_PREFIX=cubes
OCI_DATASET_ID=
OCI_DATASET_NAME=
OCI_DATASET_DESCRIPTION=
OCI_ZARR_PATH=
OCI_ZARR_CONSOLIDATED=true
